.item {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.item-container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-text {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  align-items: center;
  flex: 1;
}

.item-textdescribe {
  font-weight: 200;
}

.item-lowerthird {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}


.item-button {
  text-align: center;
}

.expand-icon {
  color: white;
}